
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    /* background-color: white; */
    /* background-image: url(./images/background.jpg); */
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }


  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    
    margin: 1rem;
    position: relative;
    width: 300px;
    
    
  }
  .App{

    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.canadianunderwriter.ca%2Fuploads%2F2018%2F02%2FiStock-852475554.jpg&imgrefurl=https%3A%2F%2Fwww.canadianunderwriter.ca%2Finsurance%2Fcoalition-launches-campaign-bring-ride-hailing-province-1004127111%2Fattachment%2Frideshare-taxi-app-on-smartphone-screen-online-ride-sharing-and-carpool-mobile-application-modern-people-and-commuter-transportation-service-man-holding-phone-with-a-car-in-background-3%2F&tbnid=T-issoQEAaVn-M&vet=12ahUKEwiS1dOOlpruAhVjja0KHUVgDFwQMygNegUIARDVAQ..i&docid=v7-qtSJNNo0AyM&w=725&h=482&itg=1&q=background%20images%20for%20carpool%20website&ved=2ahUKEwiS1dOOlpruAhVjja0KHUVgDFwQMygNegUIARDVAQ");
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }